.home-child {
    position: absolute;
    top: 0px;
    left: 441px;
    background-color: #fff8e3;
    width: 838px;
    height: 917.3px;
}
.group-child {
    position: absolute;
    top: 28px;
    left: calc(50% - 248px);
    background-color: #e6a4b4;
    width: 441px;
    height: 825px;
}
.sugar-rush {
    margin: 0;
}
.sugar-rush-sugar-container {
    position: absolute;
    top: 0px;
    left: 27px;
    font-weight: 900;
    display: inline-block;
    width: 469px;
    height: 684px;
    opacity: 0.5;
}
.rectangle-parent {
    position: absolute;
    top: 64px;
    left: calc(50% - 639.65px);
    width: 496px;
    height: 853px;
    font-size: 70px;
    color: rgba(255, 255, 255, 0.4);
}
.group-item {
    position: absolute;
    top: 0px;
    left: calc(50% - 639.5px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fce5da;
    width: 1279px;
    height: 92.1px;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 737.82px;
    border-radius: 32px;
    background-color: #fff;
    width: 169.2px;
    height: 57.6px;
}
.search {
    position: absolute;
    top: 12.4px;
    left: 753.76px;
    font-weight: 600;
    font-family: 'Plus Jakarta Sans';
    color: rgba(72, 92, 102, 0.5);
    display: inline-block;
    width: 152.9px;
    height: 28.3px;
}
.popular {
    position: absolute;
    top: 18.6px;
    left: 0px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152.9px;
    height: 23.6px;
}
.menu {
    position: absolute;
    top: 18.6px;
    left: 229.41px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152.9px;
    height: 23.6px;
}
.about-us {
    position: absolute;
    top: 18.6px;
    left: 467.67px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152.9px;
    height: 23.6px;
}
.rectangle-container {
    position: absolute;
    top: 17.71px;
    left: 242.69px;
    width: 907px;
    height: 57.6px;
}
.vector-icon {
    position: absolute;
    height: 36.59%;
    width: 2.71%;
    top: 31.74%;
    right: 88.46%;
    bottom: 31.67%;
    left: 8.83%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.tablersearch-icon {
    position: absolute;
    top: 27.46px;
    left: 992.02px;
    width: 36.3px;
    height: 36.3px;
    overflow: hidden;
}
.rectangle-group {
    position: absolute;
    top: 0px;
    left: calc(50% - 639.65px);
    width: 1279px;
    height: 92.1px;
    text-align: center;
    font-size: 25px;
}
.cakedrink-1-icon {
    position: absolute;
    top: 211px;
    left: 88px;
    width: 609px;
    height: 493px;
    object-fit: cover;
}
.indulge-the-sweet-container {
    position: absolute;
    top: 189px;
    left: 559px;
    font-size: 70px;
    font-weight: 900;
    display: inline-block;
    width: 602px;
    height: 199px;
}
.feel-the-taste {
    position: absolute;
    top: 410px;
    left: 639px;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans';
    display: inline-block;
    width: 618px;
    height: 76px;
}
.home-item {
    position: absolute;
    top: 584px;
    left: 640px;
    border-radius: 50px;
    background-color: #485c66;
    width: 256px;
    height: 66px;
}
.order-now {
    position: absolute;
    top: 596px;
    left: 694px;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans';
    color: #fff;
    display: inline-block;
    width: 254px;
    height: 42px;
}
.home-inner {
    position: absolute;
    top: 585px;
    left: 977px;
    border-radius: 50px;
    border: 1px solid #485c66;
    box-sizing: border-box;
    width: 255px;
    height: 66px;
}
.how-to-order {
    position: absolute;
    top: 596px;
    left: 1017px;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans';
    display: inline-block;
    width: 255px;
    height: 42px;
}
.rectangle-div {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 838px;
    height: 152px;
}
.k {
    position: absolute;
    top: 31px;
    left: 102px;
    font-weight: 500;
    font-family: 'Playfair Display';
    display: inline-block;
    width: 174px;
    height: 68px;
}
.happy-customers {
    position: absolute;
    top: 56px;
    left: 252px;
    font-size: 16px;
    font-weight: 500;
    color: #999090;
    display: inline-block;
    width: 76px;
    height: 36px;
}
.love-the-flavors {
    position: absolute;
    top: 47px;
    left: 433px;
    font-size: 15px;
    font-weight: 300;
    color: #757474;
    display: inline-block;
    width: 341px;
    height: 80px;
}
.group-div {
    position: absolute;
    top: 765px;
    left: 441px;
    width: 838px;
    height: 152px;
    font-size: 64px;
    color: #000;
    font-family: 'Plus Jakarta Sans';
}
.group-child1 {
    position: absolute;
    top: 0px;
    left: calc(50% - 639px);
    background-color: #fff;
    width: 1278px;
    height: 107px;
    mix-blend-mode: normal;
}
.copyright2024-designed-by-container1 {
    width: 100%;
}
.copyright2024-designed-by-container {
    position: absolute;
    top: 70px;
    left: calc(50% - 164px);
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 327px;
    height: 23px;
}
.logo1-icon {
    position: absolute;
    top: 22px;
    left: calc(50% - 615px);
    width: 190px;
    height: 59px;
    object-fit: cover;
}
.group-icon {
    position: absolute;
    top: 6.58px;
    left: 551px;
    width: 178.2px;
    height: 43.1px;
}
.rectangle-parent1 {
    position: absolute;
    top: 917px;
    left: calc(50% - 638.65px);
    width: 1278px;
    height: 107px;
    text-align: center;
    font-size: 17px;
}
.home {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 30px;
    color: #485c66;
    font-family: 'Playfair Display';
}