body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../image/01.png');
    background-size: cover;
}

.logo {
    text-align: center;
    margin-top: 50px;
}

.logo-img {
    width: 250px;
}

.container {
    position: fixed;
    width: 457px;
    height: 458px;
    left: calc(50% - 457px/2 + 0.5px);
    top: 218px;
    background: #F3D7CA;
    border-radius: 29px;
    text-align: center;
    z-index: 999; /* Added z-index to ensure it's above other elements */
}


h2 {
    font-family: "Playfair Display", serif;
    color: #485C66;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-bottom: 20px;
    text-align: center;
}

.name,
.name1 {
    margin-bottom: 20px;
    display: inline-block; /* Display first name and last name in the same line */
    vertical-align: top; /* Align them to the top */
    width: 45%; /* Each taking 50% width */
    align-items: center;
}

.name input,
.name1 input {
    width: 54%;
    padding: 15px 15px 15px 45px;
    border: 2px solid #ccc;
    border-radius: 32px;
    transition: border-color 0.3s ease;
    margin: 0 auto;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.input-icon {
    position: relative;
}

.input-icon .icon {
    position: absolute;
    left: 60px; /* Adjusted position for consistency */
    top: 50%;
    transform: translateY(-50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #485C66;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="tel"] {
    width: 70%;
    padding: 15px 15px 15px 45px;
    border: 2px solid #ccc;
    border-radius: 32px;
    outline: none;
    transition: border-color 0.3s ease;
    display: block;
    margin: 0 auto;
    font-family: "Plus Jakarta Sans", sans-serif;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus {
    border-color: #485C66;
}

.input-icon .icon:hover {
    color: #485C66;
}

button[type="submit"] {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 32px;
    background-color: #E6A4B4;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button[type="submit"]:hover {
    background-color: #485C66;
}

p {
    margin-top: 15px;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #485C66;
}

